@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');

/* Content full screen */

html,
body {
    width: 100%;
    height: 100%;
}

.row {
    display: inline;
}


/* Site button styling */

a.site-button:link:hover, a.site-button:visited:hover {
    color: dodgerblue;
    text-decoration: none;
}

a.site-button:link, a.site-button:visited {
    color: black;
    text-decoration: none;
}

a.site-button:link:active {
    color: darkblue;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


/* Site image styling */

.site-img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


/* Site section headers */

.section-header-col {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: -10px;
}

.section-header-text {
    color: black;
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .section-header-text {
        font-size: 30px;
    }
    
    .section-header-col {
        margin-top: -30px;
    }
}


/* Fixed top navbar */

.navbar-fixed-top {
    background-color: black;
    border-width: 0;
    height: auto;
    font-size: 15px;
}

.navbar .nav > li > a:link {
    color: darkgray;
}

.navbar .nav > li > a:hover {
    color: whitesmoke;
}


/* Opening screen */

.opening-screen-container {
    height: 100%;
    width: 100%;
    display: table;
}

.opening-screen-bg {
    background: url('/img/Style/Taust%202.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .opening-screen-container {
        height: 500px;
    }
}

.button-row {
    display: table-row;
    height: 10%;
    width: 100%;
}

.header-row {
    display: table-row;
    height: 80%;
    width: 100%;
}

.header-cell {
    display: table-cell;
    vertical-align: middle;
}

.social-media-col {
    text-align: right;
}

.entry-button-col {
    text-align: center;
}

.opening-screen-icon {
    margin: 0;
    margin-top: 10px;
    margin-right: 20px;
}

.header-logo-col {
    margin-right: -1%;
    margin-left: 5%;
}

.header-logo {
    height: 110px;
    width: auto;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header-logo-col {
        display: none;
    }
}

/* Opening screen entry button */

.entry-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px;
    padding-left: 9px;
    font-size: 21px;
    line-height: 1.45;
    border-radius: 50%;
    border-width: 0;
}

a.entry-btn:link:hover, a.entry-btn:visited:hover {
    text-decoration: none;
    color: dodgerblue;
    background-color: lightgray;
}

a.entry-btn:link, a.entry-btn:visited {
    text-decoration: none;
    background-color: dimgray;
    color: gold;
}

a.entry-btn:link:active {
    text-decoration: none;
}

/* Header text */

h1.siteHeader1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 26px;
}

h1.siteHeader2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
}

/* Adjust header size when screen too small */

@media screen and (max-width: 390px) {
    h1.siteHeader1 {
        font-size: 30px;
    }
}


/* Menu */

.menu-container {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1300px;
}

.col-center {
    text-align: center;
}

.image-circle-menu {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

a.menu-link:hover .image-circle-menu {
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
}

p.menu-text-link {
    font-size: 25px;
}

@media screen and (max-width: 1090px) {
    p.menu-text-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .image-circle-menu {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 785px) {
    p.menu-text-link {
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    .menu-row {
        display: none;
    }
    
    .menu-container {
        height: 0;
        padding: 0;
    }
}


/* News feed */

.news-container {
    background-color: lightgray;
}

.news-background {
    background: url('/img/MGP/MGP_taust_blur.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: dimgray;
}

.news-col {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.news-img-box {
    margin: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.news-text-box {
    width: 100%;
    height: auto;
    padding: 20px;
}

.news-head {
    font-size: 18px;
    font-weight: bold;
}

.news-text {
    font-size: 15px;
}

.news-date {
    font-size: 15px;
    font-weight: lighter;
    color: grey;
}

@media screen and (max-width: 767px) {
    .news-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 825px) {
    .news-img-box {
        margin: 0;
        width: 100%;
        height: calc(100vw / 2);
        overflow: hidden;
    }
}

@media screen and (max-width: 991px) {
    .news-img-box {
        margin: 0;
        width: 100%;
        height: calc(100vw / 2.5);
        overflow: hidden;
    }
}


/* Quote */

.quote-container {
    display: table;
    width: 100%;
    height: 380px;
}

.quote-bg {
    background: url('/img/Style/Taust%201.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 60%;
}

.quote-row {
    display: table-row;
}

.quote-cell {
    display: table-cell;
    vertical-align: middle;
}

.quote-text1 {
    font-family: "Georgia", Georgia, serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
    color: black;
    margin: 0;
    margin-left: 15%;
    line-height: 50px;
}

.quote-text2 {
    font-family: "Georgia", Georgia, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin: 0;
    margin-left: 25%;
}

.quote-author {
    font-family: "Georgia", Georgia, serif;
    font-weight: lighter;
    font-size: 18px;
    line-height: 40px;
    color: black;
    margin: 0;
    margin-left: 40%;
}

@media screen and (max-width: 1040px) {
    .quote-text1, .quote-text2 {
        font-size: 22px;
    }
    
    .quote-author {
        font-size: 18px;
    }
}

@media screen and (max-width: 825px) {
    .quote-container {
        height: 320px;
    }
    
    .quote-text1 {
        font-size: 18px;
        margin-left: 2%;
    }
    
    .quote-text2 {
        font-size: 18px;
        margin-left: 10%;
    }
    
    .quote-author {
        font-size: 17px;
        margin-left: 30%;
    }
}


/* Services */

.services-background {
    background-color: lightgray;
}

.services-header {
    padding-top: 20px;
}

.services-col {
    text-align: center;
}

.services-col-middle {
    text-align: center;
    border-style: solid;
    border-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: gray;
}

p.services-title {
    font-size: 25px;
}

p.services-head-text {
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
    border-color: gray;
    font-size: 20px;
    text-align: left;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

.image-circle-services {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

p.services-text {
    font-size: 17px;
    text-align: left;
    padding: 0;
    padding-left: 20px;
    padding-top: 15px;
}

.services-bullet li:before {
    /* Using a Bootstrap glyphicon as the bullet point */
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 17px;
    margin-top: 4px;
    color: gold;
}

.services-bullet li {
    list-style-type: none;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}

.services-bullet {
    margin: 0;
    margin-top: 35px;
    padding: 0;
    padding-left: 20px;
}

@media screen and (max-width: 1200px) {
    p.services-head-text {
        font-size: 17px;
    }
}

@media screen and (max-width: 991px) {
    .services-col-middle {
        border-style: none;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    p.services-head-text {
        font-size: 14px;
        padding-left: 10px;
    }
    
    p.services-text {
        font-size: 14px;
        padding-left: 10px;
    }
    
    .image-circle-services {
        width: 150px;
        height: 150px;
    }
}


/* Projects */

.projects-header {
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: gray;
}

.video-section-title {
    padding: 3px;
    padding-left: 15px;
    padding-top: 7px;
}

.bottom-video-col {
    margin-bottom: 60px;
}

@media screen and (max-width: 991px) {
    .mobile-video {
        margin-bottom: 20px;
    }
    
    .bottom-video-col {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .video-section-title {
        padding: 0;
        padding-left: 15px;
        padding-top: 0;
    }
    
    .mobile-video-title {
        font-size: 18px;
    }
}


/* About us */

.about-us-background {
    background-color: lightgray;
}

.about-us-header {
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: gray;
}

.faces-col {
    padding-top: 15px;
    text-align: center;
}

.image-circle-about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.about-us-text {
    text-align: left;
    font-size: 15px;
}

.faces-text {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .about-us-text {
        font-size: 14px;
    }
    
    .faces-text {
        font-size: 16px;
    }
    
    .image-circle-about-us {
        width: 150px;
        height: 150px;
    }
}


/* Contact */

.contact-header {
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: gray;
}

.lead {
    padding-left: 20px;
    padding-top: 10px;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}


/* Site footer */

.footer-navbar {
    margin-top: 20px;
    margin-bottom: 0;
}

.footer-col {
    text-align: center;
}

.footer-text-col {
    margin-top: 10px;
}

.footer-text {
    color: gray;
}

.footer-icon {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.to-top-btn {
    margin-top: 0;
    margin-bottom: 26px;
    margin-right: 9px;
    width: 32px;
    height: 32px;
    padding-left: 9px;
    border-radius: 50%;
    border-width: 0;
}

a.to-top-btn:link:hover, a.to-top-btn:visited:hover {
    text-decoration: none;
    color: dodgerblue;
    background-color: lightgray;
}

a.to-top-btn:link, a.to-top-btn:visited {
    text-decoration: none;
    background-color: dimgray;
    color: gold;
}

a.to-top-btn:link:active {
    text-decoration: none;
}


/* Icons, e.g. Facebook, YouTube */

.icon {
    display: inline-block;
    width: 35px;
    height: 35px;
}
