@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');

/* Content full screen */

html,
body {
    width: 100%;
    height: 100%;
}


/* center the navbar*/

.center.navbar .nav,
.center.navbar .nav > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    *zoom: 1;
    /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align: center;
}


/* Site header */

/* Table structure */

.header-row {
    display: table-row;
}

.button-row {
    display: table-row;
    height: 0px;
}

.header-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.button-cell {
    display: table-cell;
}

.header-block {
    display: inline-block;
    text-align: left;
    padding-right: 35%;
    padding-left: 5%;
}

.button-block {
    display: inline-block;
    position: absolute;
    padding-bottom: 15px;
    padding-left: 45%;
    bottom: 0;
}

/* Open screen menu button */

.btn.outline {
	background-color: #404040;
}

.btn-primary.outline {
	color: white;
    border-radius: 0;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: darkblue;
    background-color: gainsboro;
}

.btn-primary.outline:active, .btn-primary.outline.active {
	color: dodgerblue;
	box-shadow: none;
}

/* Header text */

h1.siteHeader1 {
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

h1.siteHeader2 {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

/* Adjust header size when screen too small */

@media only screen and (max-width: 390px) {
    h1.siteHeader1 {
        font-size: 8vw;
    }
}

/* Opening screen */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('/img/Taust%202.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* Menu */

.menu-box {
    padding: 20px;
    text-align: center;
}

.columns-menu {
    border-width: 10px;
    border-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    -webkit-column-count: 4;
}


/* Services text and colums */

.servicesBox {
    /*border-style: solid;
    border-width:10px;
    border-radius:5px;*/
    padding:20px;
    /*margin:20px;
    /*margin-left: 220px;
    margin-right: 220px;*/
    text-align: center;
}

.columns-services {
    border-style:solid;
    border-width:10px;
    border-color:white;
    border-radius:5px;
    padding:20px;
    margin:20px;
    column-count:3;
    -webkit-column-count:3;
    -webkit-column-gap:60px;
    -webkit-column-rule:2px solid black;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}

p.services {
    font-size: 25px;
}

p.text {
    font-size: 20px;
}

.image-circle-services {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.image-circle-menu {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}