<!-- News entry right -->
<figure class="news-img-box">
    <div class="news-image" style="background-image: url(img/News/viies_maailm.png);"></div>
</figure>
<div class="news-text-box">
    <p class="news-head">Uus MoonGold Productions'i saatesari "Viies Maailm"</p>
    <p class="news-text">Inimkond on juba algusaegadest saadik mänginud mõttega, et peale meie mõistuspärase
        maailma eksisteerib veel midagi, mis kulgeb paralleelselt, mida on keeruline defineerida ning mida
        ümbritseb tihe kiht salapära - meie nimetame seda "viiendaks maailmaks".
        <br>Viies Maailm on seeria ekspeditsioonidest erinevates asukohtades, mida seostatakse paranormaalsete
        nähtuste ja lugudega. Eesmärgiks on neid avalikkusele tutvustada ning sealsete elanike kirjeldusi
        kokkupuutest tundmatuga dokumenteerida.
        <br>
        <br>Sarjaga saate tutvuda meie YouTube'i kanalil: <a href="https://www.youtube.com/playlist?list=PLheUDPgwCwC0uM9-3Jy2nNZl7om7FAj_c">Viies Maailm</a>
    </p>
    <p class="news-date">14.10.2018</p>
</div>
