<!-- News entry right -->
<figure class="news-img-box">
    <div class="news-image" style="background-image: url(img/News/saue_noia_projekt.jpg);"></div>
</figure>
<div class="news-text-box">
    <p class="news-head">MoonGold'i nõiajaht Saue külas</p>
    <p class="news-text">Seoses erakordse suvega ebaõnnestusid paraku meie plaanid filmida dokumentaalfilm Tehumardi sündmustest Saaremaal. Otsustasime siiski midagi linti saada ning nii sündiski lühifilm "Saue Nõia Projekt". Tegemist on sel korral lavastatud absurdikomöödiaga, mis jutustab loo pealtnäha rahulikust Saue külast Harjumaal. Sealsetes metsades leiavad ööpimeduse varjus aset verdtarretavad sündmused, mille juured ulatuvad aastakümnete taha sügavasse Nõukogude perioodi. Nõnda asubki MGP meeskond nähtust uurima ning veedab öö kurikuulsas metsatukas, kus nõid ennast väidetavalt kunagi üles poos.
        <br>
        Film on saanud inspiratsiooni nii meie eelnevatest projektidest kui ka näiteks filmiajalugu teinud linateosest "The Blair Witch Project", mis linastus aastal 1993.
        <br>
        Uut lühifilmi saate vaadata meie YouTube'i kanalil: <a href="https://www.youtube.com/watch?v=C0oMD813DXE">Saue Nõia Projekt</a>
    </p>
    <p class="news-date">21.10.2020</p>
</div>
