<!-- News entry left -->
<figure class="news-img-box">
    <div class="news-image" style="background-image: url(img/News/raikkula_projekt.jpg);"></div>
</figure>
<div class="news-text-box">
    <p class="news-head">MoonGold Productions väisas kummitavat Raikküla mõisa</p>
    <p class="news-text">
        Raikküla mõis on mõisakompleks Raplamaal, mis seob omavahel nimesid nagu Alexander von Keyserling, Otto von Bismarck,
        Charles Darwin ning Johann Sebastian Bach. Säärane suursugune ajalugu muudab need hooned Eestis ainulaadseks,
        kuid vaatamata sellele seisab see tänapäeval paraku varemetes.
        <br>Lisaks võimsale ajaloole peidab see barokk-klassitsistlik kompleks oma müüride vahel ka hulganisti salapära ning
        paranormaalsust. Liiguvad jutud endistest mõisaomanikest, kes ka tänapäeval sealsetes pikkades koridorides ning suurtes
        saalides ringi liiguvad. Lisaks pidavat mõisapark endas peitma võimsaid energiasambaid.
        <br>Kõigelt sellelt saladusloori kergitamiseks korraldas MGP Raikkülla järjekordse ekspeditsiooni, mille tulemusena valmis
        lühikene <a href="https://www.youtube.com/watch?v=L_8GsMGapOI">reportaaž</a> MGP YouTube'i kanalil.
    </p>
    <p class="news-date">18.09.2019</p>
</div>
