/* Content full screen */

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}


/* Site button styling */

a.site-button:link:hover,
a.site-button:visited:hover {
    color: dodgerblue;
    text-decoration: none;
}

a.site-button:link,
a.site-button:visited {
    color: black;
    text-decoration: none;
}

a.site-button:link:active {
    color: darkblue;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


/* Site image styling */

.site-img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


/* Site section headers */

.section-header-col {
    padding: 0;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0;
}

.section-header-text {
    color: black;
    font-size: 40px;
}

.section-padding {
    padding-top: 40px !important;
}

@media screen and (max-width: 767px) {
    .section-header-text {
        font-size: 30px;
    }

    .section-padding {
        padding-top: 35px !important;
    }
}


/* Navbar */

.navbar-right {
    margin-left: auto;
    margin-right: 0;
}

.anchor {
    top: -50px;
    position: relative;
    display: block;
}


/* Opening screen */

.opening-screen-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.opening-screen-video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.opening-screen-video-container video {
    /* Make video at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opening-screen-title-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    top: 0;
    left: 0;
    z-index: 1;
}

.video-color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.button-row {
    display: table-row;
    height: 10%;
    width: 100%;
}

.header-row {
    display: table-row;
    height: 90%;
    width: 100%;
}

.header-cell {
    display: table-cell;
    vertical-align: middle;
}

.entry-button-col {
    text-align: center;
}

.header-logo-col {
    margin-right: -1%;
    margin-left: 5%;
    margin-top: -7px;
}

.header-logo {
    height: 155px;
    width: auto;
    margin: 0;
}

@media screen and (max-width: 1150px) {
    .header-logo-col {
        margin-top: 0;
    }

    .header-logo {
        height: 110px;
    }
}

@media screen and (max-width: 767px) {
    .opening-screen-container {
        height: 600px;
    }

    .opening-screen-title-container {
        padding-left: 15px
    }

    .header-logo-col {
        display: none;
    }
}

/* Opening screen entry button */

.entry-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 4px;
    font-size: 21px;
    line-height: 1.45;
    border-radius: 50%;
    border-width: 0;
}

a.entry-btn:link:hover,
a.entry-btn:visited:hover {
    text-decoration: none;
    color: dodgerblue;
    background-color: lightgray;
}

a.entry-btn:link,
a.entry-btn:visited {
    text-decoration: none;
    background-color: dimgray;
    color: gold;
}

a.entry-btn:link:active {
    text-decoration: none;
}

/* Header text */

h1.site-header-mgp {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 26px;
}

h1.site-header-moto {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
}

@media screen and (max-width: 1150px) {
    h1.site-header-mgp {
        font-size: 30px;
    }

    h1.site-header-moto {
        font-size: 15px;
    }
}


/* Menu */

.menu-container {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1300px;
}

.col-center {
    text-align: center;
}

.image-circle-menu {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

a.menu-link:hover .image-circle-menu {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

p.menu-text-link {
    font-size: 25px;
}

@media screen and (max-width: 1090px) {
    p.menu-text-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .image-circle-menu {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 785px) {
    p.menu-text-link {
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {

    /* Hide menu for mobile */
    .menu-row {
        display: none;
    }

    .menu-container {
        height: 0;
        padding: 0;
    }
}


/* News feed */

.news-header-row {
    padding-bottom: 20px;
}

#slick .slick-slide {
    padding-right: 5px;
    padding-left: 5px;
}

.slick-next:before {
    font-family: fontAwesome;
    content: "\f054";
    font-size: 21px;
}

.slick-prev:before {
    font-family: fontAwesome;
    content: "\f053";
    font-size: 21px;
}

.slick-dots {
    background-color: lightgray;
    bottom: -30px;
    height: 31px;
}

.news-container {
    background-color: lightgray;
}

.news-background {
    background: url('/img/moongold/mgp_intro_taust.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: dimgray;
}

.news-col {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.news-img-box {
    margin: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.news-text-box {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-bottom: 0;
}

.news-head {
    font-size: 18px;
    font-weight: bold;
}

.news-text {
    font-size: 15px;
}

.news-date {
    font-size: 15px;
    font-weight: 350;
    color: black;
}

@media screen and (max-width: 767px) {
    .news-text-box {
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .news-col {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 825px) {
    .news-img-box {
        margin: 0;
        width: 100%;
        height: calc(100vw / 2);
        overflow: hidden;
    }
}

@media screen and (max-width: 991px) {
    .news-img-box {
        margin: 0;
        width: 100%;
        height: calc(100vw / 2.5);
        overflow: hidden;
    }
}


/* Quote */

.quote-container {
    display: table;
    width: 100%;
    height: 380px;
}

.quote-bg {
    background: url('/img/misc/loojang.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 60%;
}

.quote-row {
    display: table-row;
}

.quote-cell {
    display: table-cell;
    vertical-align: middle;
}

.quote-text1 {
    font-family: "Georgia", Georgia, serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
    color: black;
    margin: 0;
    margin-left: 15%;
    line-height: 50px;
}

.quote-text2 {
    font-family: "Georgia", Georgia, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin: 0;
    margin-left: 25%;
}

.quote-author {
    font-family: "Georgia", Georgia, serif;
    font-weight: lighter;
    font-size: 18px;
    line-height: 40px;
    color: black;
    margin: 0;
    margin-left: 40%;
}

@media screen and (max-width: 1040px) {

    .quote-text1,
    .quote-text2 {
        font-size: 22px;
    }

    .quote-author {
        font-size: 18px;
    }
}

@media screen and (max-width: 825px) {
    .quote-container {
        height: 320px;
    }

    .quote-text1 {
        font-size: 18px;
        margin-left: 2%;
    }

    .quote-text2 {
        font-size: 18px;
        margin-left: 10%;
    }

    .quote-author {
        font-size: 17px;
        margin-left: 30%;
    }
}


/* Projects */

.projects-header {
    padding-left: 18px;
    padding-bottom: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: gray;
}

.video-section-header {
    padding-top: 80px;
}

.video-section-text {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-left: 10px;
}

.video-header-img-box {
    margin: 0;
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.video-header-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.bottom-video-col {
    margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
    .video-header-img-box {
        height: 130px;
    }
}

@media screen and (max-width: 991px) {
    .video-header-img-box {
        height: 110px;
    }

    .mobile-video {
        margin-bottom: 20px;
    }

    .bottom-video-col {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .video-header-img-box {
        height: 80px;
    }

    .video-section-header {
        padding-top: 60px;
    }

    .video-section-text {
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 0;
        padding-left: 12px;
    }

    .mobile-video-header {
        font-size: 20px;
    }
}


/* About us */

.about-us-background {
    background-color: lightgray;
    padding-bottom: 20px;
}

.about-us-header {
    padding-left: 18px;
    padding-bottom: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: gray;
}

.faces-row {
    padding-bottom: 40px;
}

.faces-col {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.image-circle-about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.about-us-text {
    text-align: left;
    font-size: 15px;
}

.faces-text {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .image-circle-about-us {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 1200px) {
    .image-circle-about-us {
        width: 150px;
        height: 150px;
    }
}


/* Contact */

.contact-header {
    padding-left: 18px;
    padding-bottom: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: gray;
}

.lead {
    padding-bottom: 20px;
}

.btn-col {
    padding-top: 20px;
}

.btn-send {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    background-color: dimgray;
    color: gold;
}

.btn-send:hover {
    background-color: lightgray;
    color: dodgerblue;
}

.contact-notice-row {
    padding-bottom: 40px;
}


/* Site footer */

.footer-navbar {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 20px;
}

.footer-col {
    text-align: center;
}

.footer-text-col {
    margin-top: 10px;
}

.footer-text {
    color: rgba(255, 255, 255, .55);
}

.to-top-btn {
    margin-top: 10px;
    margin-bottom: 26px;
    margin-right: 9px;
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 50%;
    border-width: 0;
}

a.to-top-btn:link:hover,
a.to-top-btn:visited:hover {
    text-decoration: none;
    color: dodgerblue;
    background-color: lightgray;
}

a.to-top-btn:link,
a.to-top-btn:visited {
    text-decoration: none;
    background-color: dimgray;
    color: gold;
}

a.to-top-btn:link:active {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .to-top-btn {
        display: none;
    }
}
